gin_utils_profile.bash

.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
card_utils_venv/

# Editors: VSCode
.vscode/*
